services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: unless-stopped

    env_file:
      - ./.env

    environment:
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD_FILE: "/run/secrets/db_password"
      MYSQL_ROOT_PASSWORD_FILE: "/run/secrets/db_root_password"

    secrets:
      - db_password
      - db_root_password

    volumes:
      - db_data:/var/lib/mysql

    networks:
      - inception

    expose:
      - "3306"

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    restart: unless-stopped

    env_file:
      - ./.env

    environment:
      WORDPRESS_DB_HOST: "${WORDPRESS_DB_HOST}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      WP_ADMIN_USER: "${WP_ADMIN_USER}"
      WP_ADMIN_EMAIL: "${WP_ADMIN_EMAIL}"
      WP_ADMIN_PASSWORD_FILE: "/run/secrets/wp_admin_password"

    secrets:
      - db_password
      - wp_admin_password

    volumes:
      - wp_data:/var/www/html

    networks:
      - inception

    depends_on:
      - mariadb

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: unless-stopped

    env_file:
      - ./.env

    volumes:
      - wp_data:/var/www/html:ro
      - ./requirements/nginx/conf:/etc/nginx/conf.d:ro

    ports:
      - "443:443"

    networks:
      - inception

    depends_on:
      - wordpress

volumes:
  db_data:
  wp_data:

networks:
  inception:
    driver:  bridge

secrets:
  db_password:
    file: /home/user/inception/secrets/db_password.txt
  db_root_password:
    file: /home/user/inception/secrets/db_root_password.txt
  wp_admin_password:
    file: /home/user/inception/secrets/wp_admin_password.txt
