services:
  mariadb:
    build:
      context: ./requirements/mariadb
    container_name: mariadb
    networks:
      - inception
    env_file:
      - .env
    secrets:
      - db_password
      - db_root_password
    volumes:
      - mariadb:/var/lib/mysql
    restart: always
    expose:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password

  nginx:
    build:
      context: ./requirements/nginx
      args:
        DOMAIN_NAME: ${DOMAIN_NAME}
    container_name: nginx
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always
    env_file:
      - .env
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/html/wordpress

  wordpress:
    build:
      context: ./requirements/wordpress
    container_name: wordpress
    networks:
      - inception
    depends_on:
      - mariadb
    restart: always
    env_file:
      - .env
    secrets:
      - db_password
      - wp_admin_password
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_ADMIN_PASSWORD_FILE: /run/secrets/wp_admin_password
    volumes:
      - wordpress:/var/www/html/wordpress
    expose:
      - "9000:9000"

# Definition des volumes
volumes:
  wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: "/home/bcaumont/data/wordpress"
  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: "/home/bcaumont/data/mariadb"

# Definition du reseau docker
networks:
  inception:
    name: inception
    driver: bridge

# Definition du fichier secrets
secrets:
  db_password:
    file: ./secrets/db_password.txt
  db_root_password:
    file: ./secrets/db_root_password.txt
  wp_admin_password:
    file: ./secrets/wp_admin_password.txt